<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/dispositivo/{{dispositivoId}}">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mediciones - Sensor {{dispositivoId}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid class="ion-text-center">

        <ion-row class="header-row">
            <ion-col>
                <ion-text>Id</ion-text>
            </ion-col>

            <ion-col>
                <ion-text>Fecha</ion-text>
            </ion-col>

            <ion-col>
                <ion-text>Valor</ion-text>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let medicion of this.mediciones">
            <ion-col>
                <ion-text>{{medicion.medicionId}}</ion-text>
            </ion-col>

            <ion-col>
                <ion-text>{{medicion.fecha | date: 'dd/MM/yyyy HH:mm:ss'}}</ion-text>
            </ion-col>

            <ion-col>
                <ion-text medicionHighlight>{{medicion.valor}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>